*{margin:0; padding:0;}
ul{list-style:none;}
a{text-decoration:none; color:#000;}

body{color:#333;height:4792px;font-family: 'Noto';}


#header{width:100%; margin:0 auto;height:134px;background: url(../images/back.png) no-repeat center top;text-align:center;}
.logo1{padding: 25px 0;margin-right:117px;}
/* .logo1{position:absolute;top: 50px;left: 25%;margin-left:300px;width:49.5px;height:37px ;}
.logo2{width:219.6px;height:25.2px ; position: absolute;top: 50px;left: 50%; margin-left: -102px;}
.logo3{position: absolute;top: 90px;left: 50%;margin-left: -35.5px;width:60.4px;height: 14.8px;} */
.navbox{width: 1320px;height:67px;margin: 0 auto;}
.nav{margin: 10px auto;height: 67px;width: 1320px;text-align: center;}
.nav li{float:left;width: 20%;}
.nav li a{display:block;color:#4b220b;padding:20px 80px;font-weight: bold;}

.main{position: relative; width: 100%;height:740px ;}
.mainbanner{display: block; width:100%;}


.nav>li{float:left;position: relative;}
.nav>li>a{display:block;height:28px;
        padding:20px 80px;
        font-weight: bold; color: #4b220b;}

.nav>li:nth-child(1){padding-left:0;}
.nav>li:nth-child(5){padding-right:0;}
.nav li a:hover {color:chocolate;background-color:#ccaf89;}
.nav li:hover .sub{display: block;}
.sub{width:100%; display:none; position: absolute;top:65px;left: 0;z-index:10;} 
.sub li{width: 100%;height:100%;}
.sub li a{display:block; 

background-color: #f2e0d2;border-bottom: 1px solid #d2a679;
        padding:10px 0;
        text-align: center;
}
.sub li a:hover{background-color: burlywood;}

.banner{background: url(../images/main.png);width: 100%;height:500px;position: relative;}
.bannertext{position: absolute;top: 226px;left:720px;font-size:25px;display: inline-block;padding: 10px; border:1px solid #573c30; color:#573c30 ;}
.section{width:1320px;margin:60px auto;height: 500px;}
.section1 li{float: left;}
.section1 li:nth-child(1){width: 600px;height: 500px;margin: 20px auto;padding: 20px;color: #4b220b;}
.section1 li:nth-child(2){width: 600px; height: 500px;}
.section1 li:nth-child(2)img{width: 100%;}
.a{font-size: 25px;margin-bottom: 20px;line-height: 60px;}
.b{font-size: 20px;margin-bottom: 20px;}
.c{line-height:25px;}
.d{margin-top: 20px;margin-bottom: 20px;line-height: 25px;}
.e{font-size: 30px;}
h6{font-size: 15px;}

.price{width: 1320px;margin:30px auto;height:800px;text-align:center;}
.pricetext{text-align: center;height: 190px;padding-top: 30px;line-height: 50px;}
.priceul{width: 1320px;height: 500px; text-align: center;margin-top: 50px;}

.priceul li{float: left; position:relative;/*부모요소*/
  overflow: hidden;width: 386px;height: 505px;}
.price li a:hover .f .h .g{transform: scale(1.2,1.2);
  color:rgba(255,255,255,1);}
.good{background: url(../images/sub1.png) no-repeat 0 0; width:420px; height: 505px;display: block; 
  padding-top:50px; box-sizing: border-box;
border-radius: 40px 0 0 0;

}
.coffee{background: url(../images/sub2.png) no-repeat 0 0;width:420px; height: 505px;display: block; 
  padding-top:50px; box-sizing: border-box;margin: 0 50px;}
.community{background: url(../images/sub3.png) no-repeat 0 0;width:420px; height: 505px;display: block; 
  padding-top:50px; box-sizing: border-box;border-radius: 0px 0 40px 0;}

.ultext{
  position:absolute; top:0; left:0;
  width:386px; height:505px;
  background-color: rgba(0,0,0,0.5);
  padding-top:50px; box-sizing: border-box;
  text-align: center;
  color:rgba(255,255,255,0);/*opacity:0으로 주어서 글자가 보이지 않게함*/
  transition:all 3s;}



.f{font-size: 40px;margin: 100px 0 0px 0;position:absolute; top:0px; left:35px;
  width:300px; height:100px;}

.h{margin-bottom:50px;position:absolute; top:150px; left:35px;
  width:300px; height:100px;}
 
.g{position:absolute; top:250px; left:35px;
  width:300px; height:200px;}
.priceul li:hover .ultext{transform: scale(1.2,1.2);
  color:rgba(255,255,255,1);}



  .good{font-size:20px;line-height: 40px; }
.coffee{font-size: 20px;line-height: 40px; }
.community{font-size: 20px;line-height: 40px; }

.store{width: 1200px;margin: 0 auto;height:590px;margin-top: 200px;}
.storeul{box-sizing: border-box;}
.storeul li{float: left;}
.storeul li:nth-child(1){width:500px;}
.storeul li:nth-child(2){width:500px;margin-left:200px;}
.storeul li:nth-child(2) img{width: 100%;}
.storetext img{width: 439.2px;height:50.4px;margin-bottom:40px;}
.storetext{position: relative; height: 500px; color: #4b220b}
.i{position: absolute;top:-12px ;left: 476px;;font-size:55px;font-family: 'Arial'; font-weight:bold;}
.storetext1{font-family: 'Arial'; font-weight:bold;font-size:25px;}
.box1{margin-left: 30px;}
.storetext2{margin: 30px 0;line-height:40px;}
.storetext3{text-decoration: underline;line-height: 35px;}
.box{width: 1320px;margin: 0 auto;height:610px;text-align: center;}
.box ul li{float: left;width: 420px;height: 430px;}
.boxtext{margin-top: 30px;color: chocolate;font-size: 18px;font-weight: bold;}
.membership{width:1320px;margin: 50px auto;height: 500px;text-align: center;}
.mtext{color: #4b220b;}
.membershipul{width: 1320px;margin: 50px auto; height: 700px;box-sizing: border-box;}
.membershipul li{float: left;}
.membershipul li:nth-child(1){width: 500px;margin: 150px auto;margin-right:80px;}
.membershipul li:nth-child(1) img{width: 100%;}
.membershipul li:nth-child(2){width: 740px; margin: 50px auto;height: 600px;text-align: left;}
.mtext1{color: #4b220b;margin-bottom:10PX;font-size: 22px;}
.mtext2{line-height: 25px;font-size: 13px;margin-bottom:20px;}
.subbackimg{width:1920px; height: 135px;margin-bottom:50px;}

.footer{width: 100%;height:334px;margin: 0 auto; background-color: #462626;}

.footerul{width: 1320px;margin: 0 auto;box-sizing: border-box;}
.footerul li{float: left;}
.footerlogo{width:300px;height: 300px; margin: 85px 5px;position: relative;}


.footertext{width:700px;height: 300px; color: #fff; margin-top:76px;margin-left: -7px;line-height:40px;}
.insta{width:220px;height: 300px; margin-top: 70px;}
